#journey  .education {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  padding-left: 50px;
}
#journey .experience {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  padding-right: 50px;
}
#journey h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #302e4d;
}
#journey .timeline-box {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
#journey .timeline {
  background-color: #fdf9ff;
  padding: 30px 15px;
  border: 1px solid #d4d4e3;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
#journey .timeline .timeline-item {
  position: relative;
  padding-left: 35px;
  padding-bottom: 50px;
}
#journey .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
#journey .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
}

#journey .timeline .timeline-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #504e70;
}
#journey .timeline .timeline-date .fa {
  margin-right: 5px;
}
#journey .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #302e4d;
}
#journey .timeline .timeline-text {
  font-size: 16px;
  line-height: 25px;
  color: #504e70;
  margin: 0;
}
#journey h1{
  font-family: cursive;
  font-size: 12vw;
  color: #14173a;
}
@media (max-width: 767px) {
  #journey .experience,
  #journey  .education{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 8em;
  justify-content: left;
  height: 200% !important;
  }
  #journey p span {
      display: block;
      margin-left: 0;
    }
    #journey{
      height: 200% !important;
      background-color:#efcb8d;
      background-repeat: no-repeat;
      box-sizing: border-box;
      }
      #journey .timeline {
        background-color: #fdf9ff;
        padding-right:10px ;
        border: 1px solid #d4d4e3;
        border-radius: 10px;
        width: 100%;
        position: relative;
        justify-content: center;
      }
  }
  /* * {
      margin: 0;
      padding: 0;
      outline: none;
      text-decoration: none;
      box-sizing: border-box;
    } */
    #journey{
      height: 100vh;
      background-color:#efcb8d;
      background-repeat: no-repeat;
      box-sizing: border-box;
      }
  