
  #projects{
    height: 130vh;
    background-color:#efcb8d;
      background-repeat: no-repeat;
      box-sizing: border-box;
      display: flex;
      }
      #projects .about{
        
          padding-top: 140px;
          text-transform: uppercase;
      }

      #projects .shadow{
          box-shadow: none !important;
      
          padding-left: 100px;
          font-size: 120px;
          line-height: 1;
          font-weight: 900;
          color: rgba(#858585);
          display: inline-block;
          text-transform: uppercase;
          z-index: -1;
          transform: translateY(-50%);
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          white-space: nowrap;
      }
      #projects h1 {
          padding-left: 50px;
          font-size: 100px;
        margin-bottom: -5px;
        color: #ff5e14;
        text-align: left;
        opacity: 0.7;
      }
      /* projects */
 